<div id="title">
    <div>
        <p>書いた人 / <%= @post.email %></p>
        <h1><%= @post.title %></h1>
    </div>
</div>

<div id="article_wrap">

    <div id="content">
      <%= simple_format @post.body %>
    </div>

    <div class="clear"></div>
</div>